:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: "Raleway", sans-serif;
    --ff-logo: "Oleo Script", cursiv;
    --bc-dark: #2F303A;
    --bc-light: #F5F4FA;
    --bc-primary: #E5E5E5;
    --color-primary: #757575;
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --bc-accent: #424242;
    --color-accent: #2196F3;
    --focus-button: #188CE8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--ff-primary);
    font-size: 14px;
    color: var(--color-dark);
    background-color: #FFFFFF;
    font-style: normal;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.navigation .logo {
    margin-right: 93px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-contact-list {
    display: flex;
    align-items: center;
}

.nav-list-item {
    letter-spacing: 0.02em;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list-item:not(:last-child) {
    margin-right: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


/*=== Forms ===*/
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: var(--ff-primary);
    cursor: pointer;
}

/*=== Lists, links ===*/
.list {
    list-style: none;
}

.link,
.link {
    text-decoration: none;
}

/*=== Header ===*/
.logo {
    display: inline-block;
    color: var(--color-dark);
    font-family: var(--ff-secondary);
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.logo span {
    color: var(--color-accent);
}

.header .link:hover,
.header .link:focus {
    color: var(--color-accent);
}

.nav-list-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

.contact-list-item .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

/*=== End of Header ===*/

/*=== Footer ===*/

.footer {
    background-color: var(--bc-dark);
}

.logo-bottom {
    margin-bottom: 20px;
    color: var(--color-light);
}

.address {
    font-style: normal;
    font-weight: normal;
    line-height: 1.71;
    color: var(--color-light);
}

.contact-list {
    font-style: normal;
    font-weight: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer .list li:first-child .link {
    color: var(--color-light);
}

.footer .list li:first-child .link:focus,
.footer .list li:first-child .link:hover,
.footer .link:focus,
.footer .link:hover {
    color: var(--color-accent);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-bottom: 9px;
}

.footer-mail {
    margin-bottom: 9px;

}

.logo-footer {
    display: flex;
}

/*=== End of Footer ===*/

/*=== Hero ===*/

.hero {
    background-color: var(--bc-dark);
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}


.hero .hero-title {
    color: var(--color-light);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero button {
    color: var(--color-light);
    background-color: var(--color-accent);
    font-weight: 700;
    line-height: 1.88;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
}

.hero button {
    display: inline-block;
}

.hero button:hover,
.hero button:focus {
    background-color: var(--focus-button);
}


h1 {
    margin-bottom: 30px;
}

/*=== End of Hero ===*/

/*=== Benefits ===*/

.benefits-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-dark);
}

p {
    color: var(--color-primary);
}

.list p {
    color: var(--color-primary);
    font-weight: normal;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.benefits-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefits-list-item:not(:last-child) {
    margin-right: 30px;
}

h3 {
    margin-bottom: 10px;
}

/*=== End of Benefits ===*/

/*=== Our activities ===*/
.activity {
    padding-top: 0;
}

.activity-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.activity-list {
    display: flex;
    justify-content: space-between;
}

.activity-list-item .activity-list:not(:last-child) {
    margin-right: 30px;
}

.benefits-list-item {
    width: 270px;
}

/*=== End of activity ===*/


/*=== Employees ===*/
.employees {
    background-color: var(--bc-light);
}

.employees-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.container-employees {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employees-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
}

.employees-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.employees-list-item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;

}

.employees-list-item:nth-child(4n) {
    margin-right: 0;
}

.employees h2 {
    margin-bottom: 50px;
}

/*=== End of Employees ===*/

/*=== Portfolio ===*/
.portfolio button {
    background-color: var(--bc-light);
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
}

.portfolio button:hover,
.portfolio button:focus {
    background-color: var(--color-accent);
    color: var(--color-light);
}

.portfolio button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
}

.site-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

.site-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-primary);
}

.flex-button {
    display: flex;
    justify-content: center;
}

.flex-button-list:not(:first-child),
.flex-button-list:not(:last-child) {
    margin-right: 8px;
}

.flex-button-list:last-child {
    margin-right: 0;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: 370px;
}

.flex-element:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
    margin-bottom: 30px;
}

.flex-button {
    margin-bottom: 50px;
}

.flex-button .button {
    padding: 6px 22px;
}

.tile {
    padding: 20px 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.site-title {
    margin-bottom: 4px;
}

/*=== End of Portfolio ===*/

